.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo {
  width: 200px; /* ajuste o tamanho como quiser */
  height: auto;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Aqui fica o CSS do weather-container */

.weather-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Coluna da esquerda maior que a da direita */
  gap:20px;
  justify-content: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.right-column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* Tema Claro */
.tema-claro {
  background-color: #f0f0f0;
  color: #222;
}

/* Tema Escuro */
.tema-escuro {
  background-color: #1e1e1e;
  color: #eee;
}

/* Botão de alternar tema */
.botao-tema {
  background: none;
  border: 1px solid currentColor;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
}


