.weather-card {
    text-align: center;
    margin: 20px auto; /*Centraliza o card*/
    width: 80%; /*Parte cinza*/
    max-width: 400px; /*Limitação de px da parte cinza*/
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) /*Sombras*/
    
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.temperature {
    font-size: 2rem;
    color: #333;
    margin: 0;
    text-align: center;
    flex: 1;
}

.weather-extra {
    text-align: right;
    font-size: 1rem;
    color: #555;
}

.weather-extra p {
    margin: 5px 0;
}

.description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
    text-transform: capitalize;
}
